APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

PACKAGE_ROOT=storage/apks
HOST_URL=http://pushapp.linroid.com

#GitHub
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

#weibo
WEIBO_CLIENT_ID=
WEIBO_CLIENT_SECRET=

#JPush
JPUSH_APP_KEY=
JPUSH_APP_SECRET=