<?xml version="1.0" encoding="UTF-8"?>
<manifest versionCode="0x1" versionName="1.0" package="com.linroid.pushapp" platformBuildVersionCode="22" platformBuildVersionName="5.1.1-1819727">
  <uses-sdk minSdkVersion="0xe" targetSdkVersion="0x16">
  </uses-sdk>
  <application theme="0x7f080079" label="0x7f060012" icon="0x7f030000" name="com.linroid.pushapp.App" debuggable="0xffffffff" allowBackup="0xffffffff">
    <activity label="0x7f060012" name="com.linroid.pushapp.ui.home.HomeActivity">
      <intent-filter>
        <action name="android.intent.action.MAIN">
        </action>
        <category name="android.intent.category.LAUNCHER">
        </category>
      </intent-filter>
    </activity>
    <service name="com.linroid.pushapp.service.DownloadService" enabled="0xffffffff" exported="0x0">
    </service>
  </application>
</manifest>
